header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

h1 {
  margin: 0 auto;
}

.login-btn {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1.5rem;
  background-color: #1DB954;
  border-radius: 45px;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

@media (max-width: 500px) {
  .login-btn {
    font-size: 0.9rem;
    margin-right: 0;
  }
}