*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  background-color: #191414;
  color: #fff;
  padding: 1rem 2rem;

}

button {
  background-color: #1DB954;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 45px;
  max-width: 10rem;
  border: none;
}

button:hover {
  background-color: #2fe06dec;
  cursor: pointer;
}

.search-bar {
  margin: 1rem auto;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.search-bar input {
  border-radius: 15px;
  width: 25rem;
  height: 3rem;
  padding: 0 1rem;
}

.search-bar button {
  height: 2.8rem;
}

h1 {
  text-align: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 1rem auto;
  max-width: 55rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.track-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.round-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.header2 {
  margin: 1rem 0;
  align-self: center;
}

input.header2 {
  box-sizing: border-box;
  background-color: #191414;
  color: #fff;
  border: none;
  border-radius: 45px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

input.header2:hover {
  border: 1px solid #fff;
  border-radius: 45px;
}

.save-btn {
  align-self: center;
  margin-top: 10rem 0;
  cursor: pointer;
}